@mixin phone {
    @media (max-width: 599px) { @content; }
  }
  @mixin tablet {
    @media (min-width: 600px) { @content; }
  }
  @mixin tablet-landscape {
    @media (min-width: 900px) { @content; }
  }
  @mixin desktop {
    @media (min-width: 1200px) { @content; }
  }
  
@mixin bg-color($color) {
  background-color: $color;
  opacity: 0.9;
}

@mixin text-color($color, $shadow-color) {
  color: $color;
  text-shadow: 0px 0px 5px $shadow-color, 0px 0px 6px $shadow-color, 0px 0px 7px $shadow-color;
}

@mixin border-color($color, $shadow-color) {
  border: 1px solid $color;
  box-shadow: 0px 0px 9px 2px $shadow-color inset, 0px 0px 3px 1px $shadow-color;
}