.color-red {
  color: rgb(255, 150, 150);
  text-shadow: 0 0 3px rgb(255, 0, 0), 0 0 5px white;
}
.color-green {
  color: rgb(150, 255, 150);
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px white;
}
.color-blue {
  color: rgb(150, 200, 255);
  text-shadow: 0 0 3px rgb(0, 0, 255), 0 0 5px white;
}
.color-yellow {
  color: rgb(255, 255, 150);
  text-shadow: 0 0 3px rgb(255, 255, 0), 0 0 5px white;
}
.color-teal {
  color: rgb(150, 255, 255);
  text-shadow: 0 0 3px rgb(0, 255, 255), 0 0 5px white;
}
.color-purple {
  color: rgb(255, 150, 255);
  text-shadow: 0 0 3px rgb(255, 0, 255), 0 0 5px white;
}
.color-orange {
  color: rgb(255, 200, 100);
  text-shadow: 0 0 3px rgb(255, 150, 50), 0 0 5px white;
}

.color-white {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 7px rgb(0, 0, 0);
}
