.bg-grey {
    background-color: rgba(150, 150, 150, 0.9);
}

.bg-darkgrey {
    background-color: rgba(50, 50, 50, 0.9);
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.9);
}

.border-white {
    box-shadow: 0px 0px 10px white inset;
}
.border-black {
    box-shadow: 0px 0px 10px black inset;
}

.color-white {
    color: rgb(230, 230, 230);
    text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0), 0 0 7px rgb(0, 0, 0);
}
  
.neonWhite {
    @extend .bg-black;
    @extend .border-white;
    @extend .color-white;
  
     &.hover {
      cursor: pointer;
      &:hover {
        @extend .bg-grey;
        @extend .border-white;
        color: white;
      }
    }
  }
  
  .reverseWhite {
    @extend .bg-grey;
    @extend .border-white;
    color: white;
}
  