.bg-red {
  background-color: rgba(255, 0, 0, 0.9);
}
.bg-green {
  background-color: rgba(0, 255, 0, 0.9);
}
.bg-blue {
  background-color: rgba(0, 0, 255, 0.9);
}
.bg-purple {
  background-color: rgba(255, 0, 255, 0.9);
}
.bg-teal {
  background-color: rgba(0, 255, 255, 0.9);
}
.bg-yellow {
  background-color: rgba(255, 255, 0, 0.9);
}
.bg-orange {
  background-color: rgba(255, 150, 0, 0.9);
}
.bg-grey {
  background-color: rgba(200, 200, 200, 0.9);
}
.bg-darkgrey {
  background-color: rgba(50, 50, 50, 0.9);
}
.bg-black {
  background-color: rgba(0, 0, 0, 0.9);
}