.border-red {
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 1) inset;
}
.border-green {
  box-shadow: 0px 0px 10px rgba(0, 255, 0, 1) inset;
}
.border-blue {
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 1) inset;
}
.border-yellow {
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 1) inset;
}
.border-purple {
  box-shadow: 0px 0px 10px rgba(255, 0, 255, 1) inset;
}
.border-teal {
  box-shadow: 0px 0px 10px rgba(0, 255, 255, 1) inset;
}
.border-orange {
  box-shadow: 0px 0px 10px rgba(255, 150, 0, 1) inset;
}
.border-white {
  box-shadow: 0px 0px 10px white inset;
}
.border-black {
  box-shadow: 0px 0px 10px black inset;
}