@use "../../../partials/mixins" as m;

#mainFooter {
    width: 100vw;
    padding: 1rem;
    margin-top: auto;
    background-color: rgba(200, 200, 200, 0.9);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @include m.tablet {width: 90vw;}
    @include m.tablet-landscape {width: 75vw;}
    @include m.desktop {width: 60vw;}

  .flickerButton {
    align-self: flex-end;
    flex: 1;
  }
} 