#projectsCont {

    a {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .info {
        flex: 0 0 50%;
    }

    .imageCont {

        width: 90%;
        padding: 1rem;
        text-align: center;
        
        img {
            width: auto;
            height: 20rem;
        }
    }

}