#oneletrajz {
    section {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        user-select: none;

        #profilkep {
            flex: 1 1 auto;
            max-width: 360px;
            height: auto;
            position: relative;
        }
        
        #alapadatok {
            flex: 1 1 auto;
            max-width: 360px;
            
        }
    }
}