@use "../../partials/mixins" as m;

#oneletrajz {

    #profilkep {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex: 0 0 100%;
        margin-bottom: 1rem;
        @include m.tablet {flex: 0 0 50%;}
    
        img {
            width: auto;
            height: 18rem;
            object-fit: contain;
        }
    }
}