@use "@/partials/mixins" as m;

.loaderText {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
}

.loader {
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: red rgb(0, 255, 255) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  @include m.tablet-landscape {
    width: 80vh;
    height: 80vh;
  }

}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 10px solid;
  border-color: transparent transparent rgb(0, 255, 0) rgb(255, 0, 255);
  width: 75vw;
  height: 75vw;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
  @include m.tablet-landscape {
    width: 75vh;
    height: 75vh;
  }

}
.loader::before {
  width: 70vw;
  height: 70vw;
  border-color: blue yellow transparent transparent;
  animation: rotation 1.5s linear infinite;
  @include m.tablet-landscape {
    width: 70vh;
    height: 70vh;
  }

}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}