#projectsCont {

    a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .project {
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        position: relative;

        .info {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
    }

}