#formCont {
    
    h1 {
        margin-top: 1rem;
    }
    
    form {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    label, input {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0.3rem;
        font-size: 1.2rem;
    }

    p {
        text-align: center;
        padding: 1rem;
        width: 100%;
    }

    button {
        flex: 1;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;

        &:hover {
            text-shadow: none;
            background-color: teal;
            color: white;
        }
    }
}