#controllerCont {
    position: absolute;
    right: 0;
    bottom: 0;

    .middleCont {
        display: flex;
        gap: 3rem;
    }

    div {
        text-align: center;
    }

    button {
        background-color: rgba($color: purple, $alpha: 0.3);
        color: rgba($color: white, $alpha: 0.7);
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
    }
}
