#snakeGame {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#snakeTable {
    width: 100vw;
    max-width: 600px;
    height: 100vw;
    max-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .cells {
        height: 5%;
        width: 5%;
    }
}
