@use "../partials/mixins" as m;
@use "../partials/specialFields";
@use "../partials/flexItems";
@use "../partials/neonBlue";
@use "../partials/neonBrown";
@use "../partials/neonGreen";
@use "../partials/neonOrange";
@use "../partials/neonPurple";
@use "../partials/neonRed";
@use "../partials/neonTeal";
@use "../partials/neonWhite";
@use "../partials/neonYellow";

* {box-sizing: border-box; padding: 0; margin: 0;font-family:Arial, Helvetica, sans-serif}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: darkgrey;
  display: flex;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  align-items: center;
}

:root:has(.noBgScroll) {
  overflow:hidden;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: black;
}

a {
  display: block;
  width: 100%;
}

label, input {
  display: block;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

textarea {
  max-width: 100%;
}

h1, h2, h3 {
  display: block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  @extend .bg-black;
  @extend .border-teal;
  @extend .color-teal;
  margin-bottom:  1rem;
}

h1 {
  text-align: center;
  font-size: 1.7rem;
  @include m.tablet {font-size: 1.8rem;}
  @include m.tablet-landscape {font-size: 1.9rem;}
  @include m.desktop {font-size: 2rem;}
}

h2 {
  font-size: 1.2rem;
  @include m.tablet {font-size: 1.3rem;}
  @include m.tablet-landscape {font-size: 1.4rem;}
  @include m.desktop {font-size: 1.5rem;}
}

main {
  width: 95vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  @include m.tablet {width: 85vw;}
  @include m.tablet-landscape {width: 70vw;}
  @include m.desktop {width: 55vw;}
}

.margTop1 {
  margin-top: 1rem;
}

.margBott1 {
  margin-bottom: 1rem;
}

.text0 {
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  min-height: 2rem;
}

.text1 {
  font-size: 1.1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  min-height: 2.2rem;
}

.text2 {
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  min-height: 2.4rem;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttonCont {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: space-evenly;
  align-items: center;

  * {
    flex: 0 0 auto;
  }
}

.flexCont {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.flex0 {
  flex: 0 0 auto;
}

.flex1 {
  flex: 1 1 auto;
}

.hideOverflow {
  overflow: hidden;
}

.selected {
  box-shadow: 0 0 5px 1px turquoise, 0 0 10px 2px turquoise, 0 0 15px 3px turquoise;
  z-index: 10;
  transform: scaleX(1.02) scaleY(1.1);
}

[hidden] { display: none !important; }