@use "../partials/mixins" as m;

#home {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  .introBlock {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    margin-bottom: 1rem;
    @include m.tablet {flex: 0 0 50%;}

    p {
      flex: 0 0 100%;
    }

    img {
      width: auto;
      height: 12rem;
      object-fit: contain;
    }
  }
}