#snakeDetails {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .detailCont {
        flex: 1;
        min-width: 10rem;
    }
}
