@use "../../partials/mixins" as m;

#mainFooter {
    width: 100vw;
    padding: 1rem;
    margin-top: auto;
    background-color: rgba(200, 200, 200, 0.9);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @include m.tablet {width: 90vw;}
    @include m.tablet-landscape {width: 75vw;}
    @include m.desktop {width: 60vw;}

  
    #github {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      div {
        margin-left: 0.5rem;
        flex: 0 0 auto;
      }
      
      img {
        position: relative;
        object-fit: contain;
        width: 2rem;
        height: auto;
      }
      
    }
  }
  