@use "../../partials/mixins" as m;

.navCenter {
                
    &.open {
        flex: 1 1 100%;
    }

    &.closed {
        display: none;
        @include m.tablet{
            display: block;
            flex: 0 0 auto;
        }
    }
}
