.mediaCont {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  div {
    margin-left: 0.5rem;
    flex: 0 0 auto;
  }
  
  img {
    position: relative;
    object-fit: contain;
    width: 2rem;
    height: auto;
  }
  
}
