#jssnake {

    height: 100vh;
    display: block;
    
    #gameTable {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 80vh;

        .cells {
            flex: 0 0 5%;
            height: 5%;
        }
    }

    #controllerCont {
        position: absolute;
        right: 0;
        bottom: 0;

        div {
            display: block;
            width: 100%;
            text-align: center;

            button {
                height: 5rem;
                width: 5rem;
                font-size: 3rem;
                background-color: rgba($color: #000000, $alpha: .4);
                color: lightgray;
                margin-left: 5rem;
            }
        }
    }

    #score {
        h2 {
            display: flex;
            justify-content: space-between;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            height: 100vh;
            width:  100vw;
            background-color: rgba($color: #000000, $alpha: .9);
        }
    }

    .gameOver {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}