@use "../../../partials/mixins" as m;

#mainHeader {
    width: 100vw;

    a {
        display: block;
    }

    #burger {
        flex: 0 0 auto;
        align-self: center;
        display: block;
        @include m.tablet{
            display: none;
        }

        &:after {
            content: ' \02630';
            font-size: 2rem;
            padding: 1rem;
        }
    }
    
    nav {
        width: 100%;
        padding: 1rem;
        @include m.tablet{
            padding: 2rem 2rem;
        }
        @include m.tablet-landscape{
            padding: 2rem 5rem;
        }


        ul {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .left {
                margin-right: auto;
            }

            .right {
                margin-left: auto;
            }
        }
    }
}

#menuNormal {

    gap: 0.5rem;
    display: none;
    
    @include m.tablet{
        flex: 1 1 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

    }

    &.open {
        display: flex; 
        flex-flow: column nowrap;
        justify-content: center;

        li {
            width: 100%;
            text-align: center;
        }
    }
}

#burgerOpenNav {
    display: block;
    width: 100%;
    max-width: 500px;
    
    ul {
        gap: 1rem;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}