.loaderScreen {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: red rgb(0, 255, 255) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderScreen::after,
.loaderScreen::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent rgb(0, 255, 0) rgb(255, 0, 255);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loaderScreen::before {
  width: 280px;
  height: 280px;
  border-color: blue yellow transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}