/* HTML: <div class="loader"></div> */
.loader {
  aspect-ratio: 1;
  display: grid;
  animation: l14 4s infinite;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  border: 10px solid;
  border-radius: 50%;
  border-color: rgb(255, 0, 255) rgb(0, 255, 0) #0000 #0000;
  mix-blend-mode: darken;
  animation: l14 1s infinite linear;
}
.loader::after {
  border-color: #0000 #0000 rgb(0, 255, 255) rgb(255, 0, 0);
  animation-direction: reverse;
}
@keyframes l14{ 
  100%{transform: rotate(1turn)}
}