#myForm {
    form {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        label, input {
            width: 100%;
            text-align: center;
        }

        .error {
            flex: 0 0 100%;
        }
    }

}